.ContainerBanner{
  width: 100%;
}

.ContainerBanner h2{
  color: #F1F2F6;
  padding: 10px 10px;
  font-size: .9rem;
  font-weight: 600;
  text-align: center;
}

.Dashboard{
  background-color: rgb(41, 47, 83);
  opacity: 1;
}

.Pacientes{
  background-color: rgb(41, 47, 83);
  opacity: 1;
}

.Doctores{
  background-color: rgb(41, 47, 83);
  opacity: 1;
}

.Citas{
  background-color: rgb(41, 47, 83);
  opacity: 1;
}

.Admins{
  background-color: rgb(41, 47, 83);
  opacity: 1;
}

.Comentarios{
  background-color: rgb(41, 47, 83);;
  opacity: 1;
}