/*Containers*/
.MainContainer, .ContentContainer{
  display: flex;
}
.MainContainer{
  background-color: #E7EFFD;
  min-height: 100vh;
  width: 100%;
}

.MenuContainer{
  background-color: #292F53;
  min-width: 200px;
  min-height: 100vh;
}

.ContentContainer{
  width: calc(100% - 200px);
  padding: 20px 40px;
  flex-direction: column;
  gap: 20px;
}

