.Form,
.InputContainer,
.InputContainer label,
.TopSection,
.containerData,
.InfoContainer {
  display: flex;
}

.Form,
.InputContainer,
.InfoContainer,
.TopSection{
  flex-direction: column;
}

.Form,
.InputContainer{
  justify-content: center;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
}

.Form {
  position: relative;
  width: 100%;
  padding: 40px;
}

.TitleModal{
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
  align-self: center;
}

.InputContainer{
  width: 100%;
  padding: 10px;
  position: relative;
}

.InputContainer{
  justify-content: flex-start;
}

.InputContainer label{
  gap: 5px;
  align-items: center;
  font-size: .8rem;
  opacity: .85;
}

.InputContainer label img{
  width: 25px;
}

.Input{
  font-family: inherit;
  transition: all 0.7s ease-in;
  padding: 10px;
  border-style: none;
  background: #ffffff;
  border-bottom:2px solid #e9e9e9;
  width: 100%;
  font-size: .9rem;
  font-weight: 400;
  border-radius: 5px;
  color: rgba(21, 21, 21, .3);
}

.ButtonSubmit {
  width: 80%;
  background-color: #152c54;
  border: 1px solid #152c54;
  color: #f9f9f9;
  font-size: .9rem;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  transition: 0.9s ease-in-out;
  align-self: center;
}

.ButtonSubmit:hover {
  cursor: pointer;
  background-color: #1479FF;
  border: 1px solid #1479FF;
  color: #f9f9f9;
  transition: 0.7s ease-in-out;
}

.Errors, .NoErrors{
  background-color: #E96668;
  padding: 1px 10px;
  color: #f9f9f9;
  font-size: .7rem;
  font-weight: 500;
  position: absolute;
  left: 10px;
  bottom: 0;
  border-radius: 5px;
  z-index: 1;
}

.NoErrors{
  display: none;
}

.ButtonClose{
  width: 100%;
  position: absolute;
  top: -30px;
  right: -30px;
  width: 40px;
  z-index: 1;
  transition: .5s linear;
}

.ButtonClose:hover{
  cursor: pointer;
  transform: scale(1.02);
  transition: .2s linear;
}





/*Detail*/

.TopSection{
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: #152c54;
  margin-bottom: 20px;
  padding: 15px 0px;
  border-top: 1px solid rgba(21, 44, 84,.1);
}

.Image{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #152c54;
}

.Labels{
  color: #1479FF;
  font-size: .8rem;
  font-weight: 700;
  opacity: .7;
}

.Name{
  font-size: 1.1rem;
}

.containerData{
  align-items: center;
  gap: 10px;
}

.containerData img{
  width: 35px;
  background-color: #1479FF;
  padding: 5px;
  border-radius: 5px;
}

.Speciality::after{
  content: " | ";
  opacity: .2;
}

.imgBottom{
  position: absolute;
  width: 100px;
  opacity: .4;
  bottom: -10px;
  right: -10px;
}

.InfoContainer{
  gap: 10px;
  flex-basis: 100%;
  justify-content: center;
}
