
.Container, .ContainerCard{
  display: flex;
}

.Container{
  justify-content: center;
  gap:20px
}

.ContainerCard{
  width: 320px;
  height: 95px;
  background-color: #44BA54;
  border-radius: 15px;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.ContainerCard:first-child{
  background-color: rgb(41, 47, 83);
}
.ContainerCard:nth-child(3){
  background-color: #5C4FB7;
}
.ContainerCard:last-child{
  background-color: #1479FF;
}
.CardIcon{
  width: 60px;
  padding: 10px;
  background-color: rgba(241, 242, 246, .3);
  border-radius: 15px;
}

.CardText{
  color: #F1F2F6;
}

.CardText h3{
  font-size: 1rem;
  font-weight: 600;
  opacity: .85;
}

.CardText span{
  font-size: 1.8rem;
  font-weight: 700;
}


@media screen and (max-device-width: 600px) {
  .Container{
    flex-wrap: wrap;
  }

}