
.RightMenu, .InfoAdmin{
  display: flex;
  align-items: center;
}

.RightMenu{
  justify-content: flex-end;
  gap: 8px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(41, 47, 83, .2);
}

.InfoAdmin{
  color: #292F53;
  flex-direction: column;
  align-items: flex-end;
}

.InfoAdmin h3{
  font-weight: 700;
  font-size: 1rem;
  line-height: 1rem;
}

.InfoAdmin span{
  font-weight: 500;
  font-size: .8rem;
  opacity: .75;
}

.IconMenu{
  width: 12px;
}

.Avatar{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #1479FF;
}

.Avatar img{
  transform: translateY(-10px);
}