.MainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.ContainerCards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0 40px 0;
  max-width: 1500px;
}

.TitleCards{
  font-size: 2rem;
  text-align: center;
  color: #292F53;
  margin-top: 40px;
  font-weight: 700;
}

.TitleCards b{
  color: #1479FF;
}

.Card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: #F1F2F6;
  padding: 15px;
  min-width: 360px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 2px rgba(41,47,83,0.05);
}

.TopCard{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(41, 47, 83, .2);
}

.TopCard img{
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;

}

.TopCard h3{
  font-size: 1.05rem;
  font-weight: 700;
  color: #292F53;
}

.TopCard .Speciality{
  font-size: .75rem;
  opacity: .7;
}

.TopCard .Hours{
  background: #1479FF;
  padding: 5px 15px;
  color: #f9f9f9;
  font-size: .7rem;
  font-weight: 500;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 18px;
}

.TopCard .Hours img{
  width: 18px;
  height: 18px;
  object-fit: cover;
}

.TopCard .Rating{
  display: flex;
  align-items: center;
  gap: 2px;
  line-height: 18px;
}

.TopCard .Rating img{
  width: 18px;
  height: 18px;
  object-fit: cover;
  margin-top: -2.5px;
}

.TopCard .ContainerHours{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.BottomCard{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.BottomCard .BottomAddress{
  display: flex;
  flex-direction: column;
}

.BottomCard .BottomAddress span:first-child{
  color: #1479FF;
  font-size: .75rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.BottomCard .BottomAddress span:last-child{
  font-size: .8rem;
  font-weight: 500;
  display: flex;
  gap: 5px;
  align-items: center;
  opacity: .85;
  line-height: 20px;
}

.BottomCard .BottomAddress span:last-child img{
  width: 20px;
}

.BottomCard button{
  background: #00C6C2;
  padding: 5px 15px;
  color: #f9f9f9;
  border-radius: 5px;
  font-size: .9rem;
  outline: none;
  transition: .9s ease-in-out;
}

.BottomCard button:hover{
  background: #292F53;
  cursor: pointer;
  transition: .5s ease-in-out;
}